*{
    margin:0;
    padding:0;
}

body{
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-color:#ddd;
    font-size:14px;
}

header{
    background-image: url("bg.png");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

nav{
    text-align: center;
    background-color: #fff;
}

nav ul li{
    margin:0 20px;
    display:inline-block;
}

nav ul li a{
    text-decoration: none;
    color:#999;
    font-weight: bold;
}

